<!DOCTYPE html>
<html>
<head>
	<title>Reset password</title>
</head>
<body>
  Here is link to reset your password <%= link_to "Reset Password", "#{APP_CONFIG['site_url']}/new_password?reset_token=#{@user.auth_token}" %>
</body>
</html>
