<p style="font-size: 13px;">
	Hello <%= @user.first_name %>,
</p>

<p style="font-size: 13px;">
	Your account has been approved so please enter the following verification code to activate your account at www.AuctionMyDeal.com.
</p>
<p style="font-size: 13px;">
	Verification Code: <span style="text-align: center; margin-left: 20px;"><span style="color: #fff; background-color: #28608f; padding: 5px 10px; font-weight: 600; letter-spacing: 3.5px;"> <%= @user.verification_code %></span></span>
</p>
<p style="font-size: 13px;">
	We look forward to helping you in your real estate investment business!...:)
</p>
<p style="font-size: 13px; margin: 0px;">
	Sincerely,
</p>
<p style="font-size: 13px; margin: 0px;">
Support@AuctionMyDeal.com
</p>
