<p style="font-size: 13px;">
	Hello <%= @user.first_name %>,
</p>

<p style="font-size: 13px;">
	Your account has been approved so please enter the following verification code to activate your account at www.AuctionMyDeal.com.
</p>
<p style="font-size: 13px;">
	Verification Code: <div style="text-align: center; margin: 0 auto"><span style="color: #fff; background-color: #28608f; padding: 10px;"> <%= @user.verification_code %></span></div>
</p>
<p style="font-size: 13px;">
	We look forward to helping you in your real estate investment business!...:)
</p>
<p style="font-size: 13px; margin: 0px;">
	Sincerely,
</p>
<p style="font-size: 13px; margin: 0px;">
Support@AuctionMyDeal.com
</p>
