<b>
  Hello <%= @user.first_name %>
</b>
<p style="font-size: 13px;">
  Thank you for registering at www.AuctionMyDeal.com!
</p>
<p style="font-size: 13px;">
  Our goal is to Help you Net More Money in your real estate investment business by using our Free Membership platform exclusively for local real estate investors.
</p>
<p style="font-size: 13px;">
  You are able to post your properties for Best Offer and/or Live Online Bidding, and bid on any properties you're interested in.
</p>
<p style="font-size: 13px;">
  There is no cost to Sell a property, and we give you 60 days to get full Unlimited Access to all property information that are for sale.
</p>
<p style="font-size: 13px;">
  If you have any wholesale/fixer upper deals you can post them for FREE by clicking Post Your Deal???
</p>
<div style="text-align: center; margin: 0 auto">
  <%= link_to "POST YOUR DEAL", "#{APP_CONFIG['site_url']}/property/new", style: "color: #fff; background-color: #28608f; padding: 10px; text-decoration: none;"%>
</div>
<p style="font-size: 13px;">
  We look forward to helping you grow your real estate investment business and hope you find this website an Excellent Tool that helps you Net MORE Money!
</p>
<p style="font-size: 13px;">
  Thank you for becoming a member, and please let us know if you have any feedback that can help us improve this site and your business by clicking Feedback?
</p>
<p style="font-size: 13px; margin: 0px;">
  Best Regards,
</p>
<p style="font-size: 13px; margin: 0px;">
  Support Team @ AuctionMyDeal.com
</p>
