<p>
  Hello <%= @user.first_name %>
</p>
<br/>
<p>
  Thank you for registering at www.AuctionMyDeal.com!
</p>
<br/>
<p>
  Our goal is to Help you Net More Money in your real estate investment business by using our Free Membership platform exclusively for local real estate investors.
</p>
<br/>
<p>
  You are able to post your properties for Best Offer and/or Live Online Bidding, and bid on any properties you're interested in.
</p>
<br/>
<p>
  There is no cost to Sell a property, and we give you 60 days to get full Unlimited Access to all property information that are for sale.
</p>
<br/>
<p>
  If you have any wholesale/fixer upper deals you can post them for FREE by clicking Post Your Deal???
</p>
<%= link_to "POST YOUR DEAL", "#{APP_CONFIG['site_url']}/property/new" %>
<br/>
<p>
  We look forward to helping you grow your real estate investment business and hope you find this website an Excellent Tool that helps you Net MORE Money!
</p>
<br/>
<p>
  Thank you for becoming a member, and please let us know if you have any feedback that can help us improve this site and your business by clicking Feedback?
</p>
<p>
  Best Regards,
  <br/>
  Support Team @ AuctionMyDeal.com
</p>
