<b>Hello <%= @buyer.first_name %>,</b>
<p style="font-size: 13px;">W/e are sorry to inform you that you were not the “Best Offer” for the property at <%= @property.address %>.</p>
<p style="font-size: 13px;">There’s always a chance that it might come on the market and we will let you know if it does, but at this current time the seller is verifying the buyers ability to close and then will finalize all paperwork and get property into the title company.</p>
<p style="font-size: 13px;">There will be many more properties that we hope you are able to buy on this site so make sure you sign up for our automatic updates so you get priority access to the Best Deals!  To sign up for this list click VIP Buyers List!</p>
<p style="font-size: 13px;">To Your Success!</p>
<p style="font-size: 13px; margin: 0px;">Your Support Team @</p>
<p style="font-size: 13px; margin: 0px;">AuctionMyDeal.com</p>
<p style="font-size: 13px;">P.S.: We would appreciate your feedback on your experience using this site so that we can make it better.  Please  <%= link_to "Click HERE", "#{APP_CONFIG['site_url']}/help-and-faq", style: 'color: #28608f;'
, style: 'color: #28608f;' %> if you’re willing to provide us feedback?</p>
