<b>Hello <%= @buyer.first_name %>,</b>
<br/>
<p style="font-size: 16px;">Thank you for submitting a bid on <%= @property.address %> at AuctionMyDeal.com!</p>
<br/>
<p style="font-size: 16px;">You are currently the Highest Bidder so watch the timer to make sure you don’t get outbid.</p>
<br/>
<p style="font-size: 16px;">The seller will be contacting the Winning Bidder at the end of the auction to finalize the paperwork.</p>
<br/>
<p style="font-size: 16px;">Best Wishes in Winning this Property!!!</p>
<br/>
<p style="font-size: 16px;">Your Support Team @</p>
<p style="font-size: 16px;">AuctionMyDeal.com</p>
<br/>
<p style="font-size: 16px;">P.S.: The Seller has the right to choose any offer whether the offer is the Highest Price or offers the best terms.  Sellers may consider cash offers stronger than financing so please make sure you provide proof of funds and/or pre-approval status to make sure your offer is as strong as possible.</p>
<br/>
<p style="font-size: 16px;">P.S.: Please let us know if you have any questions or suggestions? <%= link_to "Click HERE", "#{APP_CONFIG['site_url']}/help-and-faq" %></p>
