<b style="font-size: 13px;">Hello <%= @buyer.first_name %></b>
<p style="font-size: 13px;">The property you bid on at <%= @property.address %> has been withdrawn from the market, but we will let you know if it comes back on.</p>
<p style="font-size: 13px;">Please let us know you have any questions about this property or if there’s anything else we can do to help you?  <%= link_to "Click HERE", "#{APP_CONFIG['site_url']}/help-and-faq", style: 'color: #28608f;' %> for Support!</p>
<p style="font-size: 13px;">To Your Success!</p>
<p style="font-size: 13px; margin: 0px;">Your Support Team @</p>
<p style="font-size: 13px; margin: 0px;">AuctionMyDeal.com</p>
