<p style="font-size: 16px;">Hello <%= @buyer.first_name %></p>
<br/>
<p style="font-size: 16px;">The property you bid on at <%= @property.address %> has been withdrawn from the market, but we will let you know if it comes back on.</p>
<br/>
<p style="font-size: 16px;">Please let us know you have any questions about this property or if there’s anything else we can do to help you?  <%= link_to "Click HERE", "#{APP_CONFIG['site_url']}/help-and-faq" %> for Support!</p>
<br/>
<p style="font-size: 16px;">To Your Success!</p>
<br/>
<p style="font-size: 16px;">Your Support Team @</p>
<p style="font-size: 16px;">AuctionMyDeal.com</p>
