<b>Hello <%= @user.first_name %>,</b>
<br/>
<p style="font-size: 16px;">Thanks again for making your “Best Offer” for (street address), but unfortunately the seller didn’t accept your offer during the “Best Offer” time frame.</p>
<br/>
<p style="font-size: 16px;">If you’re still interested in this property then we highly suggest that you make an offer during the Live Online Auction so that you still have a chance to buy this property?</p>
<br/>
<p style="font-size: 16px;">You can view the property and make your bid at <%= link_to "#{property.address}", "#{APP_CONFIG['site_url']}/property/#{@property.unique_address}" %>.</p>
<br/>
<p style="font-size: 16px;">You should at least offer your the same price you did during the Best Offer timer if you’re interested in buying this property and hopefully You will be the WINNING Bidder this time.</p>
<br/>
<p style="font-size: 16px;">To Your Success!</p>
<br/>
<p style="font-size: 16px;">Your Support Team @</p>
<p style="font-size: 16px;">AuctionMyDeal.com</p>
<br/>
<p style="font-size: 16px;">P.S.: Please let us know if you have any questions, suggestions or feedback on how we can make this site better serve you?  <%= link_to "Click HERE", "#{APP_CONFIG['site_url']}/help-and-faq" %></p>
