<b>Hello <%= @buyer.first_name %>,</b>
<p style="font-size: 13px;">Thank you for making your “Best Offer” or Bid on <%= @property.address %> at AuctionMyDeal.com!</p></p>
<p style="font-size: 13px;">Unfortunately, there’s a buyer who has chosen to buy the property for the “Buy Now” price.</p>
<p style="font-size: 13px;">The seller is verifying all of this buyers information, but if this property comes back on the market you will be one of the first to know about it.</p>
<p style="font-size: 13px;">Please answer the following information by Clicking Here?</p>
<p style="font-size: 13px;">If this property comes back on the market to you want to be considered a back up contract?</p>
<p style="font-size: 13px;">If this deal falls apart and the seller didn’t repost this property for Live Online Bidding what’s your highest price you would be willing to pay for this property if you didn’t have to compete with other buyers?</p>
<p style="font-size: 13px;">When is the soonest that you can close on this property?</p>
<p style="font-size: 13px;">Will you be paying cash, line of credit, Hard Money or other type of financing? Please explain?</p>
<p style="font-size: 13px;">To Your Success!</p>
<p style="font-size: 13px; margin: 0px;">Your Support Team @</p>
<p style="font-size: 13px; margin: 0px;">AuctionMyDeal.com</p>
