<p>Congratulations!!!  The property you submitted at <%= @property.address %> has been approved!</p>
<br/>
<p>Now it’s time for you to get as many investors as possible making offers on your property by driving them to your property @ <%= link_to "#{property.address}", "#{APP_CONFIG['site_url']}/property/#{@property.unique_address}" %>.</p>
