<b>Hello <%= @buyer.first_name %>,</b>
<p style="font-size: 13px;">Thank you for making your Best Offer on <%= @property.address %>.  The seller is considering your offer and will be letting you know if your offer is acceptable or not.</p>
<p style="font-size: 13px;">The seller has the option to accept, reject or counter your offer, so look for a message from them in your messages under your profile?  If you don’t hear back from them with 24 or 48 hours then you can assume your offer is too low.</p>
<p style="font-size: 13px;">If you’re really interested in this property then you can always choose the “Buy Now” option if the numbers make sense and this will take the property off the market immediately?</p>
<p style="font-size: 13px;">At the end of the Best Offer timer the seller has the right to come back and accept or counter any offers to see if you’re still interested in this property before the property goes into Live Online Auction.</p>
<p style="font-size: 13px;">Thanks again for your offer and we hope to Help You buy a great deal soon!</p>
<p style="font-size: 13px; margin: 0px;">Your Support Team @</p>
<p style="font-size: 13px; margin: 0px;">AuctionMyDeal.com</p>
