<b>Hello <%= @user.first_name %>,</b>
<p style="font-size: 13px;">Your property at <%= @property.address %> has temporarily been put on hold until you correct the following:</p>
<p style="font-size: 13px;">Once you correct the following then let us know what we can do to help you get it activated as soon as possible.</p>
<p style="font-size: 13px;">We look forward to getting you back on track soon!...:)</p>
<p style="font-size: 13px; margin: 0px;">Your Support Team @</p>
<p style="font-size: 13px; margin: 0px;">AuctionMyDeal.com</p>
