Hello <%= @user.first_name %>,
<p style="font-size: 13px;">Congratulations for selling your property at <%= @property.address %>!!!</p>
<p style="font-size: 13px;">We hope that we were able to help you net MORE Money using our site?</p>
<p style="font-size: 13px;">Our goal is to go the extra yard for our members and we would like to learn from every property that’s posted on our site so that we can learn from your successes and failures.  It would mean a lot if you would take just a minute or 2 to give us your honest feedback?  Click HERE Please???</p>
<p style="font-size: 13px;">Thank you very much for Your Feedback!</p>
<p style="font-size: 13px; margin: 0px;">Your Support Team @</p>
<p style="font-size: 13px; margin: 0px;">AuctionMyDeal.com</p>
<p style="font-size: 13px;">P.S.: Please let us know if you have any questions or suggestions?  <%= link_to "Click HERE", "#{APP_CONFIG['site_url']}/help-and-faq", style:"color: #28608f;" %></p>
