<!DOCTYPE html>
<html>
<head>
	<title>Approved</title>
</head>
<body>
  Hello <%= @user.first_name %> <%= @user.last_name %> Property address with "<%= @property.address %>"'s status is changed to <%= @property.status %>.
</body>
</html>
