<b>Hello <%= @first_name %>,</b>
<p style="font-size: 13px;">We see that you have terminated your property at <%= @property.address %> due to <%= @property.termination_reason %>.  We hope that you were able to get it sold, but if not we would love to help you through any bad real estate situations.</p>
<p style="font-size: 13px;">Our experts have sold over a 1,000 properties and have seen all sorts of unique situations so there might be a way that we can help you get it turned around?</p>
<p style="font-size: 13px;">Please let us know if we can help or if you have any questions about any real estate deals that have problems. <%= link_to "Click HERE", "#{APP_CONFIG['site_url']}/help-and-faq", style:'color: #28608f;' %> for Help.</p>
<p style="font-size: 13px; margin: 0px;">Your Support Team @</p>
<p style="font-size: 13px; margin: 0px;">AuctionMyDeal.com</p>
