<!DOCTYPE html>
<html>
<head>
	<title>Under Review</title>
</head>
<body>
  Hello <%= @user.first_name %> <%= @user.last_name %> Property address with "<%= @property.address %>" is currently Under review and will be reviewed by AuctionMyDeal.com shortly.
</body>
</html>
