<p style="font-size: 13px;">
  Hello <%= @user.first_name %>
</p>
<p style="font-size: 13px;">
  Thank you for submitting your property at <%= @property.address %>
</p>
<p style="font-size: 13px;">
  You will get an email and a message in your user dashboard that will advise you when your property is approved or if we have any questions.
</p>
<p style="font-size: 13px;">
  We highly advise you to upload the best pictures, video, property description, credible rehab numbers and real market comps to make your deal credible and to help you sell it for the highest price possible!
</p>
<p style="font-size: 13px;">
  It is extremely important for users to be able to see good pictures of the inside and outside of the property, and to get credible numbers or there’s a good chance your property will not sell.
</p>
<p style="font-size: 13px;">
  We also suggest doing a short video, because this will give a buyer a quick tour of the property so they can see almost everything.  This way you don't have to show your deal to as many interested buyers and some will be able to make offers if your video is good enough without seeing property.  You can tell the interested buyers who do want to see the property to watch the video first and if they are serious about making an offer at or above your asking price then you will show it to them.  As we all know almost all buyers will  need to inspect the property before they finalize a contract, but for the properties that are hard to show then this is a way to limit your showings to only ready, willing and able buyers who are ready to move forward and won’t waste your time.
</p>
<p style="font-size: 13px;">
  Thanks again for giving us the opportunity to help you net more money on your real estate deals and your deal should be approved soon!
</p>
<br>
<p style="font-size: 13px; margin: 0px;">
  To Your Success,
</p>
<p style="font-size: 13px; margin: 0px;">
  Your Support Team @
</p>
<p style="font-size: 13px; margin: 0px;">
  AuctionMyDeal.com
</p>
<p style="font-size: 13px;">
  P.S.: We would love to hear your feedback, so please let us know what we can do to make your experience on this site better for you? Click <%= link_to "My Feedback?", "#{APP_CONFIG['site_url']}/how-everything-works/ask-us-question", style:'color: #28608f;' %>
</p>
