<p style="font-size: 13px;">
  Hello {{user_first_name}}
</p>
<p style="font-size: 13px;">
  You have the unread Urgent message message at AuctionMyDeal.com:
</p>
<a href={{chat_room_path}}> CLICK HERE </a> to respond to this message?
<p style="font-size: 13px;">
  If you’re still interested in this property we highly advise for you to respond to this message or you could lose this property by not responding within a timely manner.
</p>
<p style="font-size: 13px;">
  Please let us know you have any questions about this property or if there’s anything else we can do to help you?  Click HERE for Support!
</p>
<p style="font-size: 13px;">
  To Your Success!
</p>
<p style="font-size: 13px; margin: 0px;">
  Your Support Team @
</p>
<p style="font-size: 13px; margin: 0px;">
  AuctionMyDeal.com
</p>
