<p style="font-size: 13px;">Hello <%= @user.first_name %>,</p>
<p style="font-size: 13px;">Thank you for following <%= @property.address %>!</p>
<p style="font-size: 13px;">This property is now under contract but we will let you know if it comes back on the market.</p>
<p style="font-size: 13px;">Please let us know you have any questions about this property or if there’s anything else we can do to help you?  Click HERE for Support!</p>
<p style="font-size: 13px; margin: 0px;">To Your Success!</p>
<p style="font-size: 13px; margin: 0px;">Your Support Team @</p>
<p style="font-size: 13px; margin: 0px;">AuctionMyDeal.com</p>
